<html>
    <head>
        <title>Emma's blog</title>
    </head>
    <body>
    	<div>
    		<h1><a href="/">Emma's Blog</a></h1>
    	</div>

    	<div>
    		<p>published: 17.02.2018, 14:05</p>
    		<h2><a href="">My first Post</a></h2>
    	<p>"Underneath my outside face,</br> 
There’s a face that none can see.</br> 
A little less smiley,</br> 
A little less sure,</br> 
But a whole lot more like me."</br>
- Shel Silverstein</p>
    	</div>
    	
    	<div>
            <p>published: 17.02.2018, 14:15</p>
            <h2><a href="">My second post</a></h2>
            <p>"At first people refuse to believe that a strange new thing can be done,</br> then they begin to hope it can be done,</br> then the see it can be done</br> - then it is done and all the world wonders why it was not done centuries ago."</br>
- Frances Hodgson Burnett</p>
        </div>
    </body>
</html>